doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE-edge')

		// Styles
		link(rel='stylesheet' href="bower/normalize.css/normalize.css")
		link(rel='stylesheet' href='css/build/base.min.css')
		
		// Favicon
		link( rel='shortcut icon' href='images/favicon/favicon.ico' type='image/x-icon')
		link( rel='icon' href='images/favicon/favicon.ico' type='image/x-icon')


		title
			block title

	body
		block content

		.footer
			p
				| © 2015, Генератор водяных знаков, Loft-scool, команда №5

		// Js
		script(src='bower/jquery/dist/jquery.min.js')
		script(src='bower/jquery-ui/jquery-ui.min.js')
		script(src='bower/jquery-ui/ui/spinner.js')
		script(src='bower/jquery-ui/ui/slider.js')
		script(src='js/scripts.js')